.App {
  background-color: #fff7ce;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4a4a4a;
}

header {
  text-align: center;
}

main {
  max-width: 620px;
}

label {
  font-size: 16px;
}

.tabBtn {
  height: 42px;
  width: 42px;
}

.tabBtnActive {
  height: 60px;
  width: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #4a4a4a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
